.ProgressView {
  .LessonComponent {
    .SectionComponent {
      max-width: 580px;

      .section-content {
        .UnitComponent {
          .container {
            border-radius: 50%;
            border-color: darken(@gray, 5%);
          }
        }
        .ProjectComponent {
          .container {
            .rounded-half;
          }
        }
        .UnitComponent,
        .ProjectComponent {
          padding: 10px;
          height: 108px;
          justify-content: flex-end;
          .container {
            width: min-content;
            height: min-content;
            background-color: @gray;

            border-width: 2px 2px 6px 2px;
            border-style: solid;

            transition: @fastest-transition;
            .icon {
              width: 80px;
              height: 80px;
              padding: 15px;
            }
            &.completed {
              background-color: @yellow;
              border-color: darken(@yellow, 5%);
            }
            &:active {
              border-width: 2px 2px 2px 2px;
            }
          }
        }
      }

      .section-header {
        .rounded-half;
        .padding;
        position: relative;
        color: @white;
        overflow: hidden;
        flex-direction: row;

        & > div {
          width: max-content;
          align-items: flex-start;
        }

        .title {
          font-weight: 700;
          font-size: 25px;
        }
        .subtitle {
          font-size: 19px;
        }
      }
      &:nth-child(5n + 1) {
        .section-header,
        .ProjectComponent .container {
          background-color: @green;
          border-color: darken(@green, 5%);
        }
      }
      &:nth-child(5n + 2) {
        .section-header,
        .ProjectComponent .container {
          background-color: @red;
          border-color: darken(@red, 5%);
        }
      }
      &:nth-child(5n + 3) {
        .section-header,
        .ProjectComponent .container {
          background-color: @orange;
          border-color: darken(@orange, 5%);
        }
      }
      &:nth-child(5n + 4) {
        .section-header,
        .ProjectComponent .container {
          background-color: @purple;
          border-color: darken(@purple, 5%);
        }
      }
      &:nth-child(5n + 5) {
        .section-header,
        .ProjectComponent .container {
          background-color: @navy;
          border-color: darken(@navy, 5%);
        }
      }

      &.completed {
        .section-header,
        .ProjectComponent .container {
          background-color: @yellow;
          border-color: darken(@yellow, 5%);
        }
      }
    }
  }
}
