.Header {
  justify-content: center;
  border-bottom: 2px solid @light-gray;

  @bottom-margin: 20px;
  height: calc(@header-height - @bottom-margin - 2px);
  margin-bottom: @bottom-margin;

  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: @white;

  .container {
    justify-content: space-between;
    max-width: @max-width;
    div {
      width: max-content;
    }
  }

  &,
  div {
    flex-direction: row;
  }

  a,
  button {
    border: none;
    background: none;

    .padding;

    color: @blue;
    font-weight: 800;

    &.main-link {
      font-size: 22px;
    }
    &:not(.main-link) {
      text-transform: uppercase;
      font-size: 16px;
    }
  }
}
